html, body {
	font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    margin: 20px;
    padding: 0;
	background-color: #e1e1e1;
}
#rnbo-root {
    height: 100vh;
    width: 100vw;
}
#background {
    position: absolute;
    z-index: -1;
}

#main-body{
	max-width: 300px;
}

h1 {
	font-weight:100;
	font-size: clamp(50px, 8vw, 80px);
	margin-bottom: 0px;
	margin-top: 0px;
	color: #5f48bb;
}

h2 {
	font-weight:300;
	font-size: clamp(20px, 6vw, 30px);
	margin-bottom: 0px;
	margin-top: 10px;
	color: #101010;
}

p, li {
	font-weight:300;
	color: #101010;
}

summary {
	font-weight:300;
	color: #5f48bb;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

img {
  max-width: 100%;
  height: auto;
  padding-top: 30px;
}

button {
  background-color: transparent;
  border: none;
  color: #5f48bb;
  padding: 0px 0px;
  text-align: left;
  text-decoration: underline;
  display: inline-block;
  font-family: "Urbanist", sans-serif;
  font-weight:100;
  font-size: 30px;
  margin: 0px 0px;
  cursor: pointer;
}

#normalise-button, #filter-button {
	font-size: 20px;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    text-decoration: none;
  }
}

button:active {
	text-decoration: none;
}

a {
  color: #5f48bb;
}

footer {
	color: #202020;
	font-size: 12px;
	text-align: right;
}